<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inscrições</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
</head>
<body>
<div class="card text-center" style="padding:15px;">
  <h4>Inscrições Palestras</h4>
</div><br><br> 
<div class="container">
  
  
  <h2><div class="form-group">
                      <label for="inscricao.id">Inscrição</label><a href="/cadastroInscricao" style="float:right;"><button class="btn btn-success"><i class="fas fa-plus"></i></button></a>
                      </h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Paslestra</th>
        <th>Inscrição</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data Nascimento</th>    
      </tr>
    </thead>
    <tbody>
        
        <tr>
          <td>{{Inscricoes.palestr1 }}</td>
          <td>{{Inscricoes.id}}</td>
          <td>{{Inscricoes.nome  }}</td>
          <td>{{Inscricoes.CPF }}</td>
          <td>{{Inscricoes.data_nascimento }} </td>
               
        <td>
            
                </ul>
              </ul>
            
            </a></button>
          </td>
        </tr>
     
    </tbody>
  </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>