<!DOCTYPE html>
<html lang="en">
<head>
  <title>Palestras</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
</head>
<body>
<div class="card text-center" style="padding:15px;">
  <h4>Inscrições Palestras</h4>
</div><br><br> 
<div class="container">
  
    
  
  <h2><div class="form-group">
                      <label for="Palestrante.id">Palestras</label><a href="/cadastroPalestras" style="float:right;"><button class="btn btn-success"><i class="fas fa-plus"></i></button></a>
                      </h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Palestra</th>
        <th>Nome</th>
        <th>Formação</th>
        <th>Empresa</th>
        <th>Experiencia</th>
        <th>Data</th>
        
      </tr>
    </thead>
    <tbody>
      
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button class="btn btn-primary mr-2"><a href="update_pagar.php?editId=<?php echo $pagar['cod_carteira'] ?>">
              <i class="fa fa-pencil text-white" aria-hidden="true"></i></a></button>
            <button class="btn btn-danger"><a href="" onclick="confirm('Tem certeza que deseja excluir o registro?')">
              <i class="fa fa-trash text-white" aria-hidden="true"></i>
            
            </a></button>
          </td>
        </tr>
    
    </tbody>
  </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>